
body{
    background:linear-gradient(135deg,#eef2f7,#ffffff);
    transition:.3s;
}
body.dark-mode{
    background:#1e1e1e;
    color:white;
}
.dark-mode .navbar{
    background:#2c2c2c !important;
}
.dark-mode .card{
    background:#2c2c2c;
    color:white;
}
.navbar{
    box-shadow:0 3px 10px rgba(0,0,0,.1);
}
.icon-item{
    width:90px;
    text-align:center;
    cursor:pointer;
    transition:.3s;
    text-decoration:none;
    color:inherit;
}
.icon-item:hover{
    transform:scale(1.08);
    color:#198754;
}
.icon-circle{
    width:60px;
    height:60px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    margin:auto;
    font-size:22px;
}
.card-menu{
    border:none;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}